<!doctype html>
<html lang="tr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Hugo 0.101.0">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://getbootstrap.com/docs/5.2/assets/css/docs.css" rel="stylesheet">
    <title>Mentorya</title>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&family=Fenix&family=Montserrat:wght@400;900&family=Ubuntu&display=swap" rel="stylesheet">

    <!-- Footer Section -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">

    <!-- Our Team Section -->
    <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/our-team-member.css">
    <link rel="stylesheet" href="css/style.css">


  </head>
  <body>

  <header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark" aria-label="Offcanvas navbar large">
      <div class="container-fluid">
        <a class="navbar-brand link" href="#">Mentorya</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar2" aria-controls="offcanvasNavbar2">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasNavbar2" aria-labelledby="offcanvasNavbar2Label">
          <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasNavbar2Label">Offcanvas</h5>
            <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
          </div>
          <div class="offcanvas-body">
            <ul class="navbar-nav justify-content-center flex-grow-1 pe-3">
              <li class="nav-item">
                <a class="nav-link active link ms-2 me-2" aria-current="page" href="/">Ana sayfa</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active link ms-2 me-2" href="/biz-kimiz">Biz Kimiz?</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle link ms-2 me-2" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="true">
                  YKS 2023
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item link text-dark" href="#">YKS Sayaç</a></li>
                  <li><a class="dropdown-item link text-dark" href="#">YKS Puan Hesaplama</a></li>
                  <li>
                    <hr class="dropdown-divider">
                  </li>
                  <li><a class="dropdown-item link text-dark" href="#">Something else here</a></li>
                </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link active link ms-2 me-2" href="/sss">FAQs</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active link ms-2 me-2" href="/ekibimize-katil">Ekibimize Katıl</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active link ms-2 me-2" href="/blog">Blog</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active link ms-2 me-2" href="/iletisim">İletişim</a>
              </li>

            </ul>
            <div>
              <button type="button" class="btn btn-outline-light ms-2 me-2 mb-2 mt-2">Login</button>
              <button type="button" class="btn btn-primary ms-2 me-2 mb-2 mt-2">Sign-up</button>
            </div>
          </div>
        </div>
      </div>
    </nav>
  </header>
