<%- include("partials/header") %>
<header class="title-heading mt-1">
  <h1 class="title-h1">Mentorya</h1>
</header>
<section id="heading">
  <div class="">
    <div class="waveWrapper waveAnimation">
      <div class="waveWrapperInner bgTop">
        <div class="wave waveTop" style="background-image: url('http://front-end-noobs.com/jecko/img/wave-top.png')"></div>
      </div>
      <div class="waveWrapperInner bgMiddle">
        <div class="wave waveMiddle" style="background-image: url('http://front-end-noobs.com/jecko/img/wave-mid.png')"></div>
      </div>
      <div class="waveWrapperInner bgBottom">
        <div class="wave waveBottom" style="background-image: url('http://front-end-noobs.com/jecko/img/wave-bot.png')"></div>
      </div>
    </div>
  </div>

</section>


<!-- First Promotion Section -->

<section class="added">
  <div class="two alt-two">
    <h1>Features
      <span>Example Tagline Text</span>
    </h1>
  </div>
  <div class="container" style="height:450px;">

  </div>
</section>

<!-- Famous Mentors Section -->
<section>
  <div class="two alt-two">
    <h1>Famous Mentors
      <span>Example Tagline Text</span>
    </h1>
  </div>
  <div class="container">

    <div class="card">
      <!-- card 01 -->
      <div class="card__circle">
        <h2 class="card__title">Yusuf</h2>
      </div>
      <div class="card__content">
        <p class="card__text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quia mollitia adipisci
          suscipit? Eligendi
          beatae magni voluptatibus natus temporibus eius facilis.</p>
        <a class="card__link" href="#">Read more</a>
      </div>
    </div>

    <div class="card">
      <!-- card 02 -->
      <div class="card__circle">
        <h2 class="card__title">Mert</h2>
      </div>
      <div class="card__content">
        <p class="card__text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quia mollitia adipisci
          suscipit? Eligendi
          beatae magni voluptatibus natus temporibus eius facilis.</p>
        <a class="card__link" href="#">Read more</a>
      </div>
    </div>

    <div class="card">
      <!-- card 03 -->
      <div class="card__circle">
        <h2 class="card__title">Aslan</h2>
      </div>
      <div class="card__content">
        <p class="card__text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quia mollitia adipisci
          suscipit? Eligendi
          beatae magni voluptatibus natus temporibus eius facilis.</p>
        <a class="card__link" href="#">Read more</a>
      </div>
    </div>

    <div class="card">
      <!-- card 03 -->
      <div class="card__circle">
        <h2 class="card__title">Aslan</h2>
      </div>
      <div class="card__content">
        <p class="card__text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quia mollitia adipisci
          suscipit? Eligendi
          beatae magni voluptatibus natus temporibus eius facilis.</p>
        <a class="card__link" href="#">Read more</a>
      </div>
    </div>

    <div class="card">
      <!-- card 03 -->
      <div class="card__circle">
        <h2 class="card__title">Aslan</h2>
      </div>
      <div class="card__content">
        <p class="card__text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quia mollitia adipisci
          suscipit? Eligendi
          beatae magni voluptatibus natus temporibus eius facilis.</p>
        <a class="card__link" href="#">Read more</a>
      </div>
    </div>

  </div>
  <!-- end container -->
</section>


<!-- Detailed Information Section -->

<section>
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 260"><path fill="#00cba9" fill-opacity="0.9" d="M0,256L30,229.3C60,203,120,149,180,122.7C240,96,300,96,360,128C420,160,480,224,540,240C600,256,660,224,720,192C780,160,840,128,900,138.7C960,149,1020,203,1080,192C1140,181,1200,107,1260,106.7C1320,107,1380,181,1410,218.7L1440,256L1440,320L1410,320C1380,320,1320,320,1260,320C1200,320,1140,320,1080,320C1020,320,960,320,900,320C840,320,780,320,720,320C660,320,600,320,540,320C480,320,420,320,360,320C300,320,240,320,180,320C120,320,60,320,30,320L0,320Z"></path></svg>
  <div class="two alt-two">
    <h1>Details
      <span>Example Tagline Text</span>
    </h1>
  </div>
  <div class="container" style="height:450px;">

  </div>
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 60 1440 280"><path fill="#319DA0" fill-opacity="0.9" d="M0,128L30,117.3C60,107,120,85,180,101.3C240,117,300,171,360,170.7C420,171,480,117,540,96C600,75,660,85,720,122.7C780,160,840,224,900,218.7C960,213,1020,139,1080,128C1140,117,1200,171,1260,176C1320,181,1380,139,1410,117.3L1440,96L1440,0L1410,0C1380,0,1320,0,1260,0C1200,0,1140,0,1080,0C1020,0,960,0,900,0C840,0,780,0,720,0C660,0,600,0,540,0C480,0,420,0,360,0C300,0,240,0,180,0C120,0,60,0,30,0L0,0Z"></path></svg>
</section>


<!-- Our Team Members -->
<section>
  <div class="two alt-two">
    <h1>Our Team
      <span>Example Tagline Text</span>
    </h1>
  </div>
  <div class="wpac-flex-cards">
    <div class="options">
      <div class="option active" style="background-image:url(img/ic-bg-vecna.png);">
        <div class="shadow"></div>
        <div class="label">
          <div class="icon">
            <img src="img/ic-vecna.png" />
          </div>
          <div class="info">
            <div class="main">Vecna</div>
            <div class="sub">Chegou a hora.</div>
          </div>
        </div>
      </div>
      <div class="option" style="background-image:url(img/ic-bg-eleven.png);">
        <div class="shadow"></div>
        <div class="label">
          <div class="icon">
            <img src="img/ic-eleven.png" />
          </div>
          <div class="info">
            <div class="main">Eleven</div>
            <div class="sub">O meu herói é o meu pai.</div>
          </div>
        </div>
      </div>
      <div class="option" style="background-image:url(img/ic-bg-hopper.png);">
        <div class="shadow"></div>
        <div class="label">
          <div class="icon">
            <img src="img/ic-hopper.png" />
          </div>
          <div class="info">
            <div class="main">Hopper</div>
            <div class="sub">Manhãs são para café e contemplação</div>
          </div>
        </div>
      </div>
      <div class="option" style="background-image:url(img/ic-bg-eddie.png);">
        <div class="shadow"></div>
        <div class="label">
          <div class="icon">
            <img src="img/ic-eddie.png" />
          </div>
          <div class="info">
            <div class="main">Eddie</div>
            <div class="sub">Bem-vinda ao Hellfire.</div>
          </div>
        </div>
      </div>
      <div class="option" style="background-image:url(img/ic-bg-dustin.png);">
        <div class="shadow"></div>
        <div class="label">
          <div class="icon">
            <img src="img/ic-dustin.png" />
          </div>
          <div class="info">
            <div class="main">Dustin</div>
            <div class="sub">Badda Badda BOOM!</div>
          </div>
        </div>
      </div>
    </div>
</section>


<!-- Last Section -->

<section>
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 280"><path fill="#e7008a" fill-opacity="0.9" d="M0,192L24,181.3C48,171,96,149,144,165.3C192,181,240,235,288,256C336,277,384,267,432,218.7C480,171,528,85,576,80C624,75,672,149,720,192C768,235,816,245,864,224C912,203,960,149,1008,154.7C1056,160,1104,224,1152,229.3C1200,235,1248,181,1296,181.3C1344,181,1392,235,1416,261.3L1440,288L1440,320L1416,320C1392,320,1344,320,1296,320C1248,320,1200,320,1152,320C1104,320,1056,320,1008,320C960,320,912,320,864,320C816,320,768,320,720,320C672,320,624,320,576,320C528,320,480,320,432,320C384,320,336,320,288,320C240,320,192,320,144,320C96,320,48,320,24,320L0,320Z"></path></svg>
  <div class="two alt-two">
    <h1>Details
      <span>Example Tagline Text</span>
    </h1>
  </div>
  <div class="container" style="height:450px;">

  </div>
<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 50 1440 320"><path fill="#F675A8" fill-opacity="0.9" d="M0,64L24,74.7C48,85,96,107,144,112C192,117,240,107,288,133.3C336,160,384,224,432,213.3C480,203,528,117,576,85.3C624,53,672,75,720,122.7C768,171,816,245,864,256C912,267,960,213,1008,170.7C1056,128,1104,96,1152,90.7C1200,85,1248,107,1296,101.3C1344,96,1392,64,1416,48L1440,32L1440,0L1416,0C1392,0,1344,0,1296,0C1248,0,1200,0,1152,0C1104,0,1056,0,1008,0C960,0,912,0,864,0C816,0,768,0,720,0C672,0,624,0,576,0C528,0,480,0,432,0C384,0,336,0,288,0C240,0,192,0,144,0C96,0,48,0,24,0L0,0Z"></path></svg>
</section>


<%- include("partials/footer") %>
