<%- include("partials/header") %>
<header class="title-heading mt-1">
  <h1 class="title-h1">Mentorya</h1>
</header>
<section id="heading">
  <div class="">
    <div class="waveWrapper waveAnimation">
      <div class="waveWrapperInner bgTop">
        <div class="wave waveTop" style="background-image: url('http://front-end-noobs.com/jecko/img/wave-top.png')"></div>
      </div>
      <div class="waveWrapperInner bgMiddle">
        <div class="wave waveMiddle" style="background-image: url('http://front-end-noobs.com/jecko/img/wave-mid.png')"></div>
      </div>
      <div class="waveWrapperInner bgBottom">
        <div class="wave waveBottom" style="background-image: url('http://front-end-noobs.com/jecko/img/wave-bot.png')"></div>
      </div>
    </div>
  </div>

</section>


<!-- First Promotion Section -->

<section>
  <div class="two alt-two">
    <h1>Features
      <span>Example Tagline Text</span>
    </h1>
  </div>
  <div class="container" style="height:450px;">

  </div>
</section>

<!-- Famous Mentors Section -->
<section>
  <div class="two alt-two">
    <h1>Famous Mentors
      <span>Example Tagline Text</span>
    </h1>
  </div>
  <div class="container">

    <div class="card">
      <!-- card 01 -->
      <div class="card__circle">
        <h2 class="card__title">Yusuf</h2>
      </div>
      <div class="card__content">
        <p class="card__text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quia mollitia adipisci
          suscipit? Eligendi
          beatae magni voluptatibus natus temporibus eius facilis.</p>
        <a class="card__link" href="#">Read more</a>
      </div>
    </div>

    <div class="card">
      <!-- card 02 -->
      <div class="card__circle">
        <h2 class="card__title">Mert</h2>
      </div>
      <div class="card__content">
        <p class="card__text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quia mollitia adipisci
          suscipit? Eligendi
          beatae magni voluptatibus natus temporibus eius facilis.</p>
        <a class="card__link" href="#">Read more</a>
      </div>
    </div>

    <div class="card">
      <!-- card 03 -->
      <div class="card__circle">
        <h2 class="card__title">Aslan</h2>
      </div>
      <div class="card__content">
        <p class="card__text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quia mollitia adipisci
          suscipit? Eligendi
          beatae magni voluptatibus natus temporibus eius facilis.</p>
        <a class="card__link" href="#">Read more</a>
      </div>
    </div>

    <div class="card">
      <!-- card 03 -->
      <div class="card__circle">
        <h2 class="card__title">Aslan</h2>
      </div>
      <div class="card__content">
        <p class="card__text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quia mollitia adipisci
          suscipit? Eligendi
          beatae magni voluptatibus natus temporibus eius facilis.</p>
        <a class="card__link" href="#">Read more</a>
      </div>
    </div>

    <div class="card">
      <!-- card 03 -->
      <div class="card__circle">
        <h2 class="card__title">Aslan</h2>
      </div>
      <div class="card__content">
        <p class="card__text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quia mollitia adipisci
          suscipit? Eligendi
          beatae magni voluptatibus natus temporibus eius facilis.</p>
        <a class="card__link" href="#">Read more</a>
      </div>
    </div>

  </div>
  <!-- end container -->
</section>


<!-- Detailed Information Section -->

<section>
  <div class="two alt-two">
    <h1>Details
      <span>Example Tagline Text</span>
    </h1>
  </div>
  <div class="container" style="height:450px;">

  </div>
</section>


<!-- Our Team Members -->
<section>
  <div class="two alt-two">
    <h1>Our Team
      <span>Example Tagline Text</span>
    </h1>
  </div>
  <div class="wpac-flex-cards">
    <div class="options">
      <div class="option active" style="background-image:url(img/ic-bg-vecna.png);">
        <div class="shadow"></div>
        <div class="label">
          <div class="icon">
            <img src="img/ic-vecna.png" />
          </div>
          <div class="info">
            <div class="main">Vecna</div>
            <div class="sub">Chegou a hora.</div>
          </div>
        </div>
      </div>
      <div class="option" style="background-image:url(img/ic-bg-eleven.png);">
        <div class="shadow"></div>
        <div class="label">
          <div class="icon">
            <img src="img/ic-eleven.png" />
          </div>
          <div class="info">
            <div class="main">Eleven</div>
            <div class="sub">O meu herói é o meu pai.</div>
          </div>
        </div>
      </div>
      <div class="option" style="background-image:url(img/ic-bg-hopper.png);">
        <div class="shadow"></div>
        <div class="label">
          <div class="icon">
            <img src="img/ic-hopper.png" />
          </div>
          <div class="info">
            <div class="main">Hopper</div>
            <div class="sub">Manhãs são para café e contemplação</div>
          </div>
        </div>
      </div>
      <div class="option" style="background-image:url(img/ic-bg-eddie.png);">
        <div class="shadow"></div>
        <div class="label">
          <div class="icon">
            <img src="img/ic-eddie.png" />
          </div>
          <div class="info">
            <div class="main">Eddie</div>
            <div class="sub">Bem-vinda ao Hellfire.</div>
          </div>
        </div>
      </div>
      <div class="option" style="background-image:url(img/ic-bg-dustin.png);">
        <div class="shadow"></div>
        <div class="label">
          <div class="icon">
            <img src="img/ic-dustin.png" />
          </div>
          <div class="info">
            <div class="main">Dustin</div>
            <div class="sub">Badda Badda BOOM!</div>
          </div>
        </div>
      </div>
    </div>
</section>


<!-- Last Section -->

<section>
  <div class="two alt-two">
    <h1>Details
      <span>Example Tagline Text</span>
    </h1>
  </div>
  <div class="container" style="height:450px;">

  </div>
</section>

<section>
  <div class="footer-dark">
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-md-3 item">
                        <h3>Services</h3>
                        <ul>
                            <li><a href="#">Web design</a></li>
                            <li><a href="#">Development</a></li>
                            <li><a href="#">Hosting</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-6 col-md-3 item">
                        <h3>About</h3>
                        <ul>
                            <li><a href="#">Company</a></li>
                            <li><a href="#">Team</a></li>
                            <li><a href="#">Careers</a></li>
                        </ul>
                    </div>
                    <div class="col-md-6 item text">
                        <h3>Company Name</h3>
                        <p>Praesent sed lobortis mi. Suspendisse vel placerat ligula. Vivamus ac sem lacus. Ut vehicula rhoncus elementum. Etiam quis tristique lectus. Aliquam in arcu eget velit pulvinar dictum vel in justo.</p>
                    </div>
                    <div class="col item social"><a href="#"><i class="icon ion-social-facebook"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a><a href="#"><i class="icon ion-social-snapchat"></i></a><a href="#"><i class="icon ion-social-instagram"></i></a></div>
                </div>
                <%  const today = new Date(); %>
              <% const thisYear = today.getFullYear(); %>

              <p class="copyright">Mentorya © <%= thisYear %>  </p>
            </div>
        </footer>
    </div>
</section>
<%- include("partials/footer") %>
